@use "../Base/" as *;

.commonHeadingContainer{
    .headingContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 30px;
        position: relative;
        z-index: 1;
    
        h1 {
          padding-bottom: 10px;
          margin-bottom: 0;
          font-size: $font-28;
          text-transform: uppercase;
          color: $primary-text-color;
          min-width: 200px;
          white-space: nowrap;
          margin-right: 10px;
        }
    
        button{
          @include buttonStyles();
        }
      }
    
      .subHeadingContainer {
        @include secondaryGradient();
        position: relative;
        z-index: 1;
        color: $off-white;
        text-transform: uppercase;
    
        h2 {
          margin-bottom: 10px;
          padding: 10px 24px;
          font-size: $font-14;
          line-height: 28px;
    
          @include responsive($screen-768) {
            line-height: 20px;
          }
    
          @include responsive($screen-991) {
            padding: 10px;
          }
        }
      }
    
      p {
        position: relative;
        color: $white;
        letter-spacing: 0.1rem;
        z-index: 1;
        color: $off-white;
        font-size: $font-14;
      }
    
      .mainDescriptionPara {
        padding: 0 16px;
    
        @include responsive($screen-991) {
          padding: 10px;
        }
      }
    
      .contactDetailsConatiner {
        @include primaryGradient();
        position: relative;
        z-index: 1;
        z-index: 1;
        padding: 10px 24px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        font-size: $font-14;
        color: $off-white;
    
        @include responsive($screen-768) {
          justify-content: flex-start;
        }
    
        @include responsive($screen-991) {
          padding: 10px;
        }
    
        a {
          background: transparent;
          flex-basis: 48%;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          font-size: $font-14;
          font-weight: 800;
          color: $off-white;
          text-transform: uppercase;
          cursor: pointer;
          text-decoration: none;
          border-right: 1px solid $white;
          padding-right: 10px;
    
          &:nth-child(2n) {
            border-right: none;
          }
    
          @include responsive($screen-768) {
            flex-basis: auto;
    
            &:nth-child(2n) {
              border-right: 1px solid $white;
            }
          }
    
          svg {
            width: 16px;
            height: 16px;
          }
        }
      }
}