@use "../Base/" as *;

.about {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  background: $background-colour;
  position: relative;
  @include container();

  p {
    position: relative;
    color: $white;
    letter-spacing: 0.1rem;
    z-index: 1;
    color: $off-white;
    font-size: $font-14;
  }
  
  .infoSection {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 2;
  }

  .imageConatiner {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 600px;
    object-fit: cover;
    overflow: hidden;

    img {
      height: 100%;
    }
  }
}
